

img {
    max-width: 100%
}



button {
    padding: 0;
    border: none;
    background-color: transparent
}


.slick-list {
    margin: 0 -10px
}

.slick-slide {
    margin: 0 10px
}

.m-slides-0 .slick-list {
    margin: 0
}

.m-slides-0 .slick-slide {
    margin: 0
}

.slick-arrow {
    position: absolute;
    top: 50%;
    color: #213360;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 0;
    z-index: 3;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.slick-arrow:hover {
    color: #21cdc0
}

.slick-arrow.slick-next:before, .slick-arrow.slick-prev:before {
    font-family: icomoon;
    font-size: 40px
}

.slick-arrow.slick-next {
    right: 0
}

.slick-arrow.slick-next:before {
    content: "\e906"
}

.slick-arrow.slick-prev {
    left: 0
}

.slick-arrow.slick-prev:before {
    content: "\e904"
}

.carousel-arrows-light .slick-arrow {
    color: rgba(255, 255, 255, .8);
    border-color: rgba(255, 255, 255, .2)
}

.carousel-arrows-light .slick-arrow:hover {
    color: #fff
}

.slick-dots {
    list-style: none;
    position: relative;
    z-index: 2;
    padding: 0;
    text-align: center;
    margin-bottom: 0
}

.slick-dots li {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    position: relative;
    width: 10px;
    height: 10px;
    margin: 0 7px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear
}

.slick-dots li button {
    display: block;
    font-size: 0;
    width: 10px;
    height: 10px;
    padding: 0;
    border-radius: 50%;
    background-color: #213360;
    -webkit-transition: all .2s linear;
    transition: all .2s linear
}

.slick-dots li.slick-active button {
    background-color: #21cdc0;
    -webkit-box-shadow: 0 0 0 5px rgba(33, 205, 192, .15);
    box-shadow: 0 0 0 5px rgba(33, 205, 192, .15)
}

.carousel-dots-light .slick-dots li button {
    background-color: #fff
}

.carousel-dots-light .slick-dots li.slick-active button {
    -webkit-box-shadow: 0 0 0 5px rgba(255, 255, 255, .2);
    box-shadow: 0 0 0 5px rgba(255, 255, 255, .2)
}


@-webkit-keyframes rotating {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes rotating {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}


@-webkit-keyframes translateHeader {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes translateHeader {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.gallery .slick-list {
    margin: 0;
    overflow: hidden;
    border-radius: 12px
}

.gallery .slick-slide {
    margin: 0
}

.gallery .slick-arrow.slick-next {
    right: -50px
}

.gallery .slick-arrow.slick-prev {
    left: -50px
}

.gallery-layout2 .gallery-img {
    position: relative;
    margin-bottom: 30px
}

.gallery-layout2 .gallery-img img {
    border-radius: 10px
}

.gallery-layout2 .gallery-img .popup-gallery-item {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 60px;
    height: 60px;
    font-size: 18px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: #213360;
    background-color: #fff;
    -webkit-box-shadow: 0 0 0 9px rgba(0, 0, 0, .15);
    box-shadow: 0 0 0 9px rgba(0, 0, 0, .15);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.gallery-layout2 .gallery-img .popup-gallery-item:hover {
    -webkit-box-shadow: 0 0 0 11px rgba(0, 0, 0, .15);
    box-shadow: 0 0 0 11px rgba(0, 0, 0, .15)
}

@media (min-width: 320px) and (max-width: 575px) {
    .gallery .slick-arrow.slick-next {
        right: 0
    }

    .gallery .slick-arrow.slick-prev {
        left: 0
    }
}



