{% load static %}
{% load i18n %}

<section id="faq" class="spacer-double-lg">
    <div class="container">
       <div class="row">
          <div class="col">
             <div class="mb-5 pb-5 text-center">
                <h2 class="display-4">{% trans 'Size nasıl yardımcı olabiliriz?' %} </h2>
                <p class="w-md-60 mx-auto mb-0 lead">
                    {% blocktrans trimmed %}
                    Saç ekimi ve estetiği çözümleri konusunda uzman kadromuz ile yanınızdayız. 
                    Size hangi konuda yardımcı olmamızı istesiniz? Hemen yanıtlayalım.
                    {% endblocktrans %}                   
                </p>
             </div>
          </div>
       </div>
       <div class="row justify-content-center">
          <div class="col-lg-8">
             <div id="faq-accordion">
                <div class="card card-collapse mb-3 ">
                   <div class="card-header accordion-header">
                      <h5 class="mb-0">
                         <button class="btn btn-link btn-block d-flex justify-content-between accordion-collapse-btn collapsed" data-toggle="collapse" data-target="#faq-accordion-1" aria-expanded="false" aria-controls="faq-accordion-1">
                         {% trans 'Web’e özel saç analizi nedir?' %}
                         <span class="accordion-arrow">
                         <span class="fa fa-angle-down accordion-arrow-inner"></span>
                         </span>
                         </button>
                      </h5>
                   </div>
                   <div id="faq-accordion-1" class="collapse" data-parent="#faq-accordion">
                        <div class="card-body accordion-body">
                            {% blocktrans trimmed %}
                            Web’e özel ücretsiz saç analizi; sitemiz üzerinden doldurdukları form ile bize ulaşan 
                            hastalarımızın saç, sakal veya kaş ekimi öncesi ESTE SAĞLIK uzmanları tarafından ücretsiz ve 
                            detaylı saç sağlığı inceleme ve değerlendirmesini kapsar. Detaylı bilgi için bize ulaşabilirsiniz.
                            {% endblocktrans %}
                        </div>
                   </div>
                </div>
                <div class="card card-collapse mb-3">
                   <div class="card-header accordion-header">
                      <h5 class="mb-0">
                         <button class="btn btn-link btn-block d-flex justify-content-between accordion-collapse-btn collapsed" data-toggle="collapse" data-target="#faq-accordion-2" aria-expanded="false" aria-controls="faq-accordion-2">
                         {% trans 'Saç Ekimi nasıl yapılır?' %}
                         <span class="accordion-arrow">
                         <span class="fa fa-angle-down accordion-arrow-inner"></span>
                         </span>
                         </button>
                      </h5>
                   </div>
                   <div id="faq-accordion-2" class="collapse" data-parent="#faq-accordion">
                        <div class="card-body accordion-body">
                           <p>
                              {% blocktrans trimmed %}
                              Saç ekimi ameliyatı üç temel aşamaya ayrılır. Bunlardan ilkisaç köklerinin toplanmasıdır. 
                              Donör bölgeyi operasyon için hazırladıktan sonra uygun olan saç ekim yöntemi kullanılarak 
                              saç köklerinin toplanması sağlanır. Aynı zamanda bu aşamada köklere zarar vermemek çok önemlidir. 
                              Bu köklerin her birine greft adı verilir ve ortalama 2-3 saç kılı içerir. 
                              {% endblocktrans %}
                           </p>
                           <p>
                           {% blocktrans trimmed %}
                           İkinci aşama,kanalın açılmasıdır. Bölgeye göre uygun büyüklük ve derinlikte kanallar açılması 
                           saçların uzama oranını etkileyecektir. Bu açıdan ekilecek saç kökünün boyutu ve uzunluğu göz 
                           önünde alınarak uygun kanalların açılması önemlidir. 
                           {% endblocktrans %}
                           </p>
                           <p>
                           {% blocktrans trimmed %}
                           En doğal görüntüyü elde etmek için kanalın açısı da ayarlanmalıdır. 
                           Son aşamada ise toplanan kökler 40-45 derecede olan açık kanala yerleştirilerek 
                           saç ekimi operasyonunun tamamlanması sağlanır. Detaylı bilgi için bizimle iletişime geçebilirsiniz.
                           {% endblocktrans %}
                           </p>
                        </div>
                   </div>
                </div>
                <div class="card card-collapse mb-3 ">
                   <div class="card-header accordion-header">
                      <h5 class="mb-0">
                         <button class="btn btn-link btn-block d-flex justify-content-between accordion-collapse-btn collapsed" data-toggle="collapse" data-target="#faq-accordion-3" aria-expanded="false" aria-controls="faq-accordion-3">
                         {% trans 'Hangi saç ekim yöntemini tercih etmeliyim?' %}
                         <span class="accordion-arrow">
                         <span class="fa fa-angle-down accordion-arrow-inner"></span>
                         </span>
                         </button>
                      </h5>
                   </div>
                   <div id="faq-accordion-3" class="collapse" data-parent="#faq-accordion">
                      <div class="card-body accordion-body">
                        <p>
                           {% blocktrans trimmed %}
                           Her yöntem, hastanın ihtiyaçlarına ve gereksinimlerine göre özel olarak seçilir. 
                           Doktorlar ve hastalar hangi yöntemin etkili olduğu konusunda ortak bir görüşe sahiptir. 
                           {% endblocktrans %}
                        </p>
                        <p>
                           {% blocktrans trimmed %}
                           Safir FUE saç ekimi yönteminde kanal açma aşamasında metal uç yerine özel safir uç kullanılır. 
                           Bu yöntemi benzersiz kılan, daha küçük mikro kanalların açılmasına izin veren, böylece iyileşme 
                           sürecini hızlandıran ve kabuklanmaları azaltan bu safir uçlardır. 
                           {% endblocktrans %}
                        </p>
                        <p>
                           {% blocktrans trimmed %}
                           Direkt saç ekimi olarak da bilinen DHI saç ekimi yönteminde, choi 
                           adı verilen medikal bir kalem ile kök kanalının açılması ve ekilmesi 
                           işlemi aynı anda gerçekleştirilir. Ekilecek saç kökleri kısa süre 
                           dışarıda kaldığı için ekimin sağlıklı kalması daha olasıdır. 
                           Aynı zamanda bu yöntem tıraşsız saç ekimi olarak da anılmaktadır. 
                           {% endblocktrans %}
                        </p>
                        <p>
                           {% blocktrans trimmed %}
                           Normal FUE saç ekiminde ise mikro-motor kullanılarak toplanan ve ayrılan saç kökleri manuel 
                           olarak açılan bir kanala ekilir. Detaylı bilgi için bizimle iletişime geçebilirsiniz.
                           {% endblocktrans %}
                        </p>
                      </div>
                   </div>
                </div>
                <div class="card card-collapse mb-3">
                   <div class="card-header accordion-header">
                      <h5 class="mb-0">
                         <button class="btn btn-link btn-block d-flex justify-content-between accordion-collapse-btn collapsed" data-toggle="collapse" data-target="#faq-accordion-4" aria-expanded="false" aria-controls="faq-accordion-4">
                         {% trans 'Este Sağlık hakkında bilgi almak istiyorum.' %}
                         <span class="accordion-arrow">
                         <span class="fa fa-angle-down accordion-arrow-inner"></span>
                         </span>
                         </button>
                      </h5>
                   </div>
                   <div id="faq-accordion-4" class="collapse" data-parent="#faq-accordion">
                        <div class="card-body accordion-body">
                           <p>
                              {% blocktrans trimmed %}
                              Önce sağlık ilkesiyle, Saç ekimi ve Estetik alanında güncel ve en yeni teknoloji, 
                              konusunda Uzmanlaşmış doktorlarımız, tecrübeli akademik kadromuz ve nitelikli ekibi 
                              bir araya getirerek, tam teşekküllü hastanelerimizde, tam donanımlı ameliyathanelerimiz 
                              de 11 yıldır faaliyet gösteren Uluslararası sağlık hizmetleri sunuyoruz. 
                              {% endblocktrans %}
                           </p>
                           <p>
                              {% blocktrans trimmed %}
                              Saç ekimi ve Estetik uygulamalarında Uluslararası kalite standartlara ulaşıp ISO 9001-2008 
                              sertifikasını alarak sunduğu sağlık hizmeti kalitesini tescillemiştir. Ülkemize, yurt dışından 
                              sağlık turizmi amacıyla gelen misafirlerimize sağlık hizmetlerinin yanı sıra, havalimanından 
                              karşılama, konaklama, tercüman eşliğinde İstanbul’un tarihi ve kültürel zenginliklerini de görme 
                              fırsatını sağlayarak, konuklarımızı VIP kalitesinde ağırlamaktayız. 
                              {% endblocktrans %}
                           </p>
                           <p>
                              {% blocktrans trimmed %}
                              100’e yakın irtibat ofisleriyle dünya coğrafyasında hedeflenen bilinirliğe ulaşma çalışmaları ile 
                              kalite yolculuğuna devam etmekte ve JCI akreditasyon çalışmalarını sürdürmektedir.
                              {% endblocktrans %}
                           </p>
                        </div>
                   </div>
                </div>
                <div class="card card-collapse">
                   <div class="card-header accordion-header ">
                      <h5 class="mb-0">
                         <button class="btn btn-link btn-block d-flex justify-content-between accordion-collapse-btn collapsed" data-toggle="collapse" data-target="#faq-accordion-5" aria-expanded="false" aria-controls="faq-accordion-5">
                         {% trans 'Nasıl Randevu oluşturabilirim?' %}
                         <span class="accordion-arrow">
                         <span class="fa fa-angle-down accordion-arrow-inner"></span>
                         </span>
                         </button>
                      </h5>
                   </div>
                   <div id="faq-accordion-5" class="collapse" data-parent="#faq-accordion">
                      <div class="card-body accordion-body"> 
                        {% blocktrans trimmed %}
                        Randevu oluşturmak için çağrı merkezimizi (+90 532 475 37 83) aramanız veya whatsapp hattımız (+90 542 541 37 83) 
                        üzerinden bize ulaşmanız yeterli. İletişim birimimiz konuyla ilgili sizi bilgilendirecektir.
                        {% endblocktrans %}
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="w-75 mx-auto mt-4 text-center">
          <p class="mb-0 text-muted">{% trans 'Merak ettiğiniz diğer sorular için bize ulaşın.' %} <a href="#contact" class="hover-arrow text-info">{% trans 'İletişim' %}
             <span class="fa fa-arrow-right"></span></a>
          </p>
       </div>
    </div>
 </section>