{% load static %}
{% load i18n %}

<section id="hairsection" class="bg-secondary spacer-double-lg">
    <div class="container">
       <div class="row">
          <div class="col">
             <div class="mb-5 pb-5 text-center">
                <h2 class="display-4">{% trans 'Kendinizi Yeniden Keşfedin' %}</h2>
                <p class="w-md-60 mx-auto mb-0 lead ">
                    {% blocktrans trimmed %}
                     Este Sağlık Saç Ekim Merkezi, tüm tedavi süreçlerinde 
                     en yüksek standartlar ve teknolojilerle hizmet sunmaktadır.
                    {% endblocktrans %}
                </p>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-4 mb-4 mb-lg-0">
             <div class="position-relative px-3">
                <div class="position-relative z-index-2">
                   <h4>{% trans 'Saç Ekimi' %}</h4>
                   <p class="mb-6 ">
                       {% blocktrans trimmed %}
                       Saçınızın donör bölgesi ve anatomik görünümünü koruyarak daha sık, 
                       doğal ve güçlü saçlar için size özel tedavi çözümleri ile görünüşünüzü yeniliyoruz!
                       {% endblocktrans %}
                   </p>
                   <img src="{% static 'assets/img/7.jpg' %}" alt="" class="img-fluid rounded radius-top-left z-index-2 ">
                </div>
             </div>
          </div>
          <div class="col-md-4 mb-4 mb-lg-0">
             <div class="position-relative px-3">
                <div class="position-relative z-index-2">
                   <h4>{% trans 'Sakal Ekimi' %}</h4>
                   <p class="mb-6 ">
                       {% blocktrans trimmed %}
                       Sakal veya bıyık ekimi yapılacak bölgenizin doğal çıkış yönüne 
                       uyumlu ve estetik görünümünüzü doğallık ile bütünleştiren çözümler sunuyoruz!
                       {% endblocktrans %}
                    </p>
                   <img src="{% static 'assets/img/5.jpg' %}" alt="" class="img-fluid rounded radius-bottom-right z-index-2 ">
                </div>
             </div>
          </div>
          <div class="col-md-4">
             <div class="position-relative px-3">
                <div class="position-relative z-index-2">
                   <h4>{% trans 'Kaş Ekimi' %}</h4>
                   <p class="mb-6 ">
                       {% blocktrans trimmed %}
                       Kaş ekim sürecini anatomik yapınıza uyumlu, mimiklerinizin doğallığını ve 
                       estetiğini koruyacak şekilde planlıyor ve talepleriniz doğrultusunda uyguluyoruz.
                       {% endblocktrans %}
                   </p>
                   <img src="{% static 'assets/img/6.jpg' %}" alt="" class="img-fluid rounded radius-top-right z-index-2 ">
                </div>
             </div>
          </div>
       </div>

       <div class="row">
          <div class="col">
             <div class="mt-6 pt-6 text-center"> <a class="mr-2 btn btn-primary btn-radius-bottom-left mb-2 mb-sm-0" href="tel:+90 532 475 37 83">
                <span class="mn-top">{% trans 'Detaylı bilgi için bizi arayın' %}</span>
                </a>
                <a class="scroll btn btn-secondary btn-radius-bottom-right mb-2 mb-sm-0" 
                    href="https://api.whatsapp.com/send?phone=905425413783 "
                    style="background-color: #00c9a7;  border-color:#00c9a7; ">
                    <span class="mn-top">{% trans 'Detaylı bilgi için bize yazın ' %}</span>
                </a>
             </div>
          </div>
       </div>
        <br>
        {% include 'components/gallery.html' %}
    </div>
 </section>